<form asp-action="Login" method="post">
    <input name="email" placeholder="Correo" />
    <input name="password" placeholder="Contraseña" type="password" />
    <button type="submit">Ingresar</button>
</form>
