@{
  ViewData["Title"] = "Carlos te odiamos";
}

<div id="planes">

@section FullWidthContent {
    <partial name="../Components/Carrusel" />
}
</div>


<div class="container">
  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center"></div>
    <h1 class="display-4 justify-content-center d-flex"><strong>¡UNETE A NOSOTROS!</strong></h1>
    <p class="lead">
        ¿Estás listo pa' dejar la pereza y empezar a darle duro a tu cuerpo y tu mente?
        En ATOMIC te tenemos todo pa' que te conviertas en tu mejor versión. No importa si estás empezando o ya sos todo un animal del gym, acá hay un plan hecho a tu medida.
    </p>
</div>

@* content de cards de membresias *@

<partial name="../Components/PlanCards" />

